
.header{
    font-family:var(--font);
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    color: var(--main-color);
}
.para{
    font-family:var(--font);
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: var( --dark-gray);
    
}
.btn{
    width: 343px;
    height: 62px;
    border-radius: 10px;
    border: 5px solid var(--main-color);
    background:"#fffff";
    color:var(--main-color);
    margin-top: 25px;
}
@media screen and (max-width:750px) {
    .header,.para {
        font-size: 20px;
        line-height: 36px;
    }
   
}


@media screen and (min-width:750px) and (max-width: 1020px) {
    .header,.para {
        font-size: 30px;
      
    }
    .btn,.para{
        display: block;
        width: 100%;
    }
    footer ul li {
        font-size: 15px;
    }
}

